<section>
    <div class="container">
        <div class="row" *ngFor="let f of food">
            <div class="col-md-3">
                <div class="card">
                    <img [src]="f.src" [alt]="f.alt">    <!--propertybinding  -->
                    <div class="crad-title">
                        <h1>{{f.title}}</h1>
                         <p>{{f.price}}</p>             <!-- String Interpolation -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>